# Course 7 - Tuple and Set

## 1. Tuple

Tuples are **immutable** sequences in Python. once created, their elements cannot be changed, added, or removed.

### Creating and accessing tuples

- To create an empty tuple, you can have:
  - Empty parentheses `()`
  - `tuple()`
- Tuples are filled by placing a sequence of values separated by commas inside parentheses `()`.

In [ ]:
# Example of creating tuples
tuple_init = ()
tuple_init_2 = tuple()

# Same as list, tuples can contain different data types
tuple_1 = (1, 2, 3)
tuple_2 = ("apple", "banana", "cherry")
tuple_3 = (1, "hello", 3.14)

#### Accessing tuple elements

Similar to list, accessing tuple elements using indexing

In [ ]:
tuple_example = (1, 2, 3, 4, 5)
# Accessing elements in a tuple
print(tuple_example[0])

#### Negative indexing

Similar to list, use negative indexing to access elements from the end of the tuple.

In [ ]:
tuple_example = (1, 2, 3, 4, 5)
print(tuple_example[-1])

#### Slicing tuples

Similar to list, tuples can be sliced to obtain a subset of elements.

In [ ]:
# Exactly the same as list slicing
print(tuple_example[1:3])
print(tuple_example[:3])
print(tuple_example[1:])
print(tuple_example[::2])

#### Difference between list and tuple

Tuple is immutable:

In [ ]:
tuple_example = (1, 2, 3, 4, 5)
tuple_example[0] = 10
print(tuple_example)

List is mutable:

In [ ]:
list_example = [1, 2, 3, 4, 5]
list_example[0] = 10
print(list_example)

### Tuple methods and operations

### Tuple methods

- Since tuples are immutable, they have a limited set of methods compared to lists.
- `count(x)`: Returns the number of times x appears in the tuple.
- `index(x)`: Returns the first index of x in the tuple.

In [ ]:
tuple_example = (1, 2, 3, 1, 2, 1)
print(tuple_example.count(1))
print(tuple_example.index(2))

### Operations

#### Concatenation and repetition

- Concatenate tuples using the `+` operator
- Repeat tuples using the `*` operator.

In [ ]:
tuple_1 = (1, 2, 3)
tuple_2 = ("apple", "banana", "cherry")

# Concatenation
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

# Repetition
tuple_4 = tuple_1 * 3
print(tuple_4)

#### `in` keyword

Similar to list and string, you can use `in` to test if an element exists in a tuple.

In [ ]:
print(1 in tuple_1)
print("banana" in tuple_2)
print("grape" in tuple_2)

#### Tuple unpacking

You can unpack a tuple into individual variables.

In [ ]:
a, b, c = tuple_1
print(a, b, c)

**Exercise**

In [ ]:
# Given a tuple t, create a new tuple that is the reverse of t.
t = (10, 20, 30, 40, 50)

In [ ]:
# Given a nested tuple where each element is a tuple of integers, calculate the sum of all integers.
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [ ]:
# Given a tuple of tuples
# Where each inner tuple contains a student's name and their grade
# Sort the tuple by grades in descending order.
students = (("Alice", 85), ("Bob", 75), ("Charlie", 95), ("Dave", 80))

## 2. Set

Sets are **unordered** collections of **unique** elements
- Set is mutable

### Creating sets

Sets are created by placing a comma-separated sequence of elements inside curly braces `{}` or by using the `set()` function.

In [ ]:
set_1 = {1, 2, 3}

# Convert a list to a set
set_2 = set(["apple", "banana", "cherry"])

# Convert a string to a set
# Each character in the string is an element in the set
# Duplicated characters are removed
set_3 = set("hello")

# Elements contained in a set must be immutable (int, float, string, tuple)
set_4 = {[1, 2, 3], [4, 5, 6]}

print(set_1)
print(set_2)
print(set_3)

### Adding and removing elements

- `add(x)`: Adds element x to the set.
- `remove(x)`: Removes element x from the set. Raises KeyError if x is not in the set.
- `discard(x)`: Removes element x from the set if it is present.
- `clear()`: Removes all elements from the set.

In [ ]:
set_1 = {1, 2, 3}

set_1.add(4)
print(set_1)

set_1.remove(3)
print(set_1)

set_1.discard(2)
print(set_1)

set_1.clear()
print(set_1)

### Set comprehension

Sets can be created using set comprehensions, similar to list comprehensions.

In [ ]:
set_com = {x for x in range(10) if x % 2 == 0}
print(set_com)

### Set operation

#### Union

- The union of two sets is a set containing all elements from both sets.
- Use the `|` operator or the `union()` method.

In [ ]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}

result = set_1.union(set_2)
print(result)

result = set_1 | set_2
print(result)

#### Intersection

- The intersection of two sets is a set containing only elements that are present **in both sets**.
- Use the `&` operator or the `intersection()` method.

In [ ]:
intersection_set = set_1.intersection(set_2)
print(intersection_set)

intersection_set = set_1 & set_2
print(intersection_set)

#### Difference

- The difference of two sets is a set containing elements that are **in the first set but not in the second**.
- Use the `-` operator or the `difference()` method.

In [ ]:
difference_set = set_1.difference(set_2)
print(difference_set)

difference_set = set_1 - set_2
print(difference_set)

#### Symmetric difference

- The symmetric difference of two sets is a set containing elements that are in either of the sets but not in both.
- Use the `^` operator or the `symmetric_difference()` method.

In [ ]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}

sym_diff_set = set_1.symmetric_difference(set_2)
print(sym_diff_set)

sym_diff_set = set_1 ^ set_2
print(sym_diff_set)

#### Update

- `update()`updates the current set by adding items from another set (any iterable variable)
- You can also use `|=` operator
- Comparing with  `union()`, `update()` function updates the original set.

In [ ]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1.update(set_2)
print(set_1)

#### Subset and superset

- Set A is a subset of set B if all elements of A are also elements of B.
- Set A is a superset of set B if all elements of B are also elements of A (opposite of subset)
- Use the `<=` and `<` operators for subsets
- Use the `>=` and `>` operators for supersets

In [ ]:
set_1 = {1, 2}
set_2 = {1, 2, 3}

print(set_1 <= set_2)
print(set_1 < set_2)

print(set_1 >= set_2)
print(set_1 > set_2)

**Exercise**

- Set A = {1, 2, 3, 4, 5}.
- Set B = {4, 5, 6, 7, 8}.
- Find the union, intersection, and difference of sets A and B without using Python