# Problem 1: Extracting department data

1. Read the problem_1.txt file.
2. Calculate the total salary for each department.
3. Print out each department's name and its total salary.
   1. Format: "{department}: {total_salary}"

# Problem 2: Extracting specific lines

1. Read the problem_2.txt file.
2. Extract and print the time that only has "ERROR" message
   1. Format: "2024-07-14 10:05:00"

# Problem 3: Calculate average grades

1. Read the problem_3.txt file.
2. Calculate the average grade for each student across all subjects.
3. Print out each student's name and their average grade.
   1. Format: "{student_name}: {average}"

# Problem 4: Analyzing movie ratings

1. Read the problem_4.txt file.
2. Calculate and print the following:
   1. The highest-rated movie.
   2. The lowest-rated movie.
   3. The average rating of all movies.
      1. Format "Average rate: {rate}"
   4. The number of movies released in each year.
      1. For each year, the format should be: "{year}: number"