# Course 2 - Data Types and Operations

## 1. Homework Rewrite

Please rewrite question 03186 (10 minutes)

## 2. Variables and Assignment

In Python, you can assign values to variables using the `=` operator. Python is a **dynamically-typed language**, which means you don't need to specify the type of the variable explicitly.

**Syntax: variable_name = value**

The value can be a 
- literal (e.g., a number or a string)
- the result of an expression
- another variable.

In [ ]:
# Assigning a value to x
x = 10 

# Assigning a string to a variable
name = "Alice"

# Assigning the result of an expression to a variable
result = 2 + 3

# Assigning the value of one variable to another variable
y = x

### Multiple Assignment

Python allows you to assign multiple values to multiple variables in a single line using multiple assignment.

In [ ]:
x, y, z = 1, 2, 3
print(x,y,z)

You can also use multiple assignment to swap the values of two variables without using a temporary variable:

In [ ]:
x, y = y, x
print(x,y)

### Reassignment

Variables in Python can be reassigned to new values at any point in the program. The previous value of the variable is overwritten by the new value.

In [ ]:
x = 10
print(x)

x = 20
print(x)

In [ ]:
"""
Note: The value of x is 20 initially. 
The statement x = x + 5 increases the value of x by 5.
So, the value of x becomes 25 after this statement.
"""
x = x + 5
print(x)

### Name your variable

#### Use descriptive and meaningful names

Good example:

In [ ]:
user_age = 25
total_price = 150.75
is_active = True

Bad example:

In [ ]:
a = 25
tp = 150.75
ia = True

#### Follow name convention

Python follows the [PEP 8](https://peps.python.org/pep-0008/) style guide, which recommends using lowercase words separated by underscores for variable names (snake_case).

Good example

In [ ]:
user_name = "Alice"
file_path = "/home/user/data.txt"

Bad example

In [ ]:
# CamelCase is typically used for class names
userName = "Alice"  
filePath = "/home/user/data.txt"

#### Avoid reserved words and built-in names

Python has reserved words (keywords) and built-in function names that you should avoid using as variable names.

In [ ]:
# These are examples of reserved words you cannot use as variable names
# and, as, assert, break, class, continue, def, del, elif, else, except,
# False, finally, for, from, global, if, import, in, is, lambda, None,
# nonlocal, not, or, pass, raise, return, True, try, while, with, yield

#### Be consistent with naming

Good example

In [ ]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name

Bad example

In [ ]:
first_name = "John"

# Inconsistent naming convention
lastName = "Doe"

FullName = first_name + " " + lastName

#### Use uppercase for constants

Good example

In [ ]:
MAX_CONNECTIONS = 10
PI = 3.14159

#### Don't use Chinese pinyin to name your variable

Bad example

In [ ]:
xing_ming = "Alice"
nian_ling = 25

**Exercise**

In [ ]:
# 1. Reassign the value of s to be 75.
# Print the new value of s.

# 2. Increment the value of x by 10.
# Print the value of x after the increment.

# 3. Assign the values 4, 5, and 6 to the variables a, b, and c using multiple assignment.
# Print the values of a, b, and c.

# 4. Swap the values of a and b without using a temporary variable.
# Print the values of a and b after the swap.

## 3. Basic data types and operations

### Know your type

`type()` will return type of a variable

In [ ]:
print(type(1))

**Exercise**

In [ ]:
# What is the data type for "bmi"?
height = 179
weight = 68
bmi = weight / height ** 2

### Integers (int)

Integers are whole numbers, positive or negative, without any decimal points. In Python, integers have unlimited precision, meaning they can represent arbitrarily large or small numbers.

In [ ]:
# Integer examples
x = 10
y = -5
z = 0

### Basic operators and its order

Here're the common operators:

In [ ]:
# Addition
result = x + y  
print(result)

# Subtraction
result = x - y
print(result)

# Multiplication
result = x * y
print(result)

In [ ]:
# Integer division
result = x / y 
print(result) 

# Integer division always rounds down
result = 11 // 3
print(result)

In [ ]:
# Modulus (remainder)
result = x % y
print(result)

In [ ]:
# Exponentiation
result = x ** 2 
print(result)

### Other operators

Two basic methods for integers (also for float):

In [ ]:
# Return the absolute value
print(abs(-5))

In [ ]:
# Return the power of a number
# 2^3, equivalent to 2 ** 3
print(pow(2, 3))

In [ ]:
x = 1
# Equivalent to x = x + 1
x += 1
print(x)

# What is the value of x after the following statements?
x -= 1
print(x)

# What is the value of x after the following statements?
x *= 2
print(x)

# What is the value of x after the following statements?
x /= 2
print(x)

**Exercise (10 minutes)**

How much money do we need based on the following 3-day trip schedule:
- Accommodation: $150 per night for 2 nights.
- Food: $30 per meal, 3 meals per day each day.
- Transportation: $50 total.
- Entertainment: $75 for activities and souvenirs each day.

Also, please calculate the average cost per day for the trip

In [ ]:
# Total cost

# Average cost

### Floating number

Direct assignment

In [ ]:
x = 3.14
y = -2.5

Scientific notation

In [ ]:
# 1.23 * 10^5
x = 1.23e5

# 1.23 * 10^-5
y = 1.23e-5

Rounding

In [ ]:
# Round in two digits
# Question: What rule is this based on for rounding?
x = round(3.14159, 2)
print(x)

### String

Strings are sequences of characters enclosed in single quotes ('...') or double quotes ("..."). They are used to represent text data in Python.

In [ ]:
# String examples
name = "John"
message = 'Hello, ' + name + '!'

print(message)

#### String quotes: single quotes vs. double quotes

In Python, you can define string literals using either single quotes ('...') or double quotes ("..."). Both single and double quotes serve the same purpose and are interchangeable in most cases. However, there are certain scenarios where one type of quote is preferred over the other.

Using single quotes and double quotes at the same time

In [ ]:
print('He said, "Hello!"')

In [ ]:
print("She said, 'Hello!'")

### F-string

Python also supports string formatting using the format() method or f-strings (formatted string literals) introduced in Python 3.6.

In [ ]:
name = "John"
age = 25

# Using format() method
message = "My name is {} and I am {} years old".format(name, age)
print(message)

In [ ]:
# Using f-strings
message = f"My name is {name} and I am {age} years old"
print(message)

**Exercise**

In [ ]:
# Expected input/output
# Input: name = "Alice", age = 30
# Output: "Hello, Alice! You are 30 years old." (including quotation mark)

## 5. Type conversion

In Python, you can convert between different data types using built-in functions.

### Implicit type conversion

Python automatically converts one data type to another when it makes sense.

In [ ]:
result = 10 + 3.5
print(result)
print(type(result))

There're **two** implicit type conversion happened above? Where are they?

### Explicit type conversion

You can manually convert a value from one type to another using type conversion functions.

In [ ]:
# Convert string to integer
num_str = "123"
num_int = int(num_str)
print(num_int)
print(type(num_int))

# Convert integer to string
num = 456
num_str = str(num)
print(num_str)
print(type(num_str))

# Convert string to float
num_str = "3.14"
num_float = float(num_str)
print(num_float)
print(type(num_float))

## 6. `input()` function

The `input()` function allows the user to provide input to a Python program from the keyboard. This input is always returned as a **string**.

In [ ]:
# The string in the input() function is a prompt message.
name = input("What is your name: ")
print(f"Hello, {name}")

Since `input()` returns a string, you may need to convert it to another type for further processing.

In [ ]:
age = input("How old are you: ")
print(f"You are {int(age)+1} years old next year.")

Input multiple number (we will discuss it more in following courses)

In [ ]:
# Ex: three values:
a, b, c = [int(x) for x in input("Enter three values: ").split()]

**Exercise**

Question:
 - Joshua is counting the total number of students in different grades at his school. 
 - He has counted the number of boys and girls in the second grade and knows that the third grade has fewer students than the second grade.
 - Please help him to write a program that calculate the **number of students in the third grade**.

Input three integers: 
- Number of boys in the second grade
- Number of girls in the second grade
- Number of students fewer in the third grade compared to the second grade.